label{
    display: block;
    font-size: x-large;
}
h1,p{
    text-align: center;
}
div{
    margin: 0.5em 430px;
}
main{
    border: 0.3em solid black;
    height: 600px;
    width: 90%;
    margin: 3em auto;
    border-radius: 1em;
}
p{
    font-size: xx-large;
}
.red{
    color: red;
}